__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.vscode/
.venv/
venv/
frontend/node_modules/
frontend/dist/
backend/.env
frontend/.env
firebase-debug.log
backend/storage/**
!backend/storage/.gitkeep
backend/data/agricultura_tungurahua.pdf
